Change the file locations of all the functions to wherever the MF NAVs Folder is located

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Testing the Data in File

In [3]:
df = pd.read_excel(r'Z:\Downloads\MF NAVs\Medium\Mutual-Funds-India-Historical-NAV-Report (9).xlsx')

In [4]:
df.head(6)

                                          Unnamed: 0 Unnamed: 1
0  Historical Mutual Fund NAV of Kotak Medium Ter...        NaN
1    scheme:- Kotak Medium Term Fund - Direct Growth        NaN
2                            Start Date:- 21-03-2014        NaN
3                              End Date:- 20-05-2020        NaN
4                                           NAV Date   NAV (Rs)
5                                         20-05-2020    16.9718

In [5]:
df.columns = list(df.iloc[4,:])
df2 = df.drop([0,1,2,3,4])
df2['NAV Date'] = pd.to_datetime(df2['NAV Date'], infer_datetime_format = True, format = '%d/%m/%y', dayfirst=True)

In [6]:
df2['NAV Date'].head(65)

5    2020-05-20
6    2020-05-19
7    2020-05-18
8    2020-05-15
9    2020-05-14
        ...
65   2020-02-11
66   2020-02-10
67   2020-02-07
68   2020-02-06
69   2020-02-05
Name: NAV Date, Length: 65, dtype: datetime64[ns]

In [9]:
row = df.iloc[1,0][9:]
row

'Kotak Medium Term Fund - Direct Growth'

In [110]:
#1m, 3m, 6m, 1y, 2y, 3y, 5y,10y
dates = pd.Series(['21-04-2020','20-02-2020','23-12-2019','21-05-2019','21-05-2018','22-05-2017','21-05-2015','24-05-2010'])
dates = list(pd.to_datetime(dates))

In [113]:
df2['NAV Date'].min()

Timestamp('2014-03-21 00:00:00')

In [115]:
(dates[0]-dates[1]).days

61

In [131]:
df2[df2['NAV Date'] == dates[0]].iloc[0,0]

Timestamp('2020-04-21 00:00:00')

In [157]:
len(df2[df2['NAV Date'] == dates[-1]])

0

In [ ]:
import os
for _,direc,files in os.walk(r'Z:\Downloads\MF NAVs'):
    print(direc)

# Main Algorithm

In [165]:
dates = pd.Series(['21-04-2020','20-02-2020','23-12-2019','21-05-2019','21-05-2018','22-05-2017','21-05-2015','24-05-2010'])
dates = list(pd.to_datetime(dates))

In [209]:
def CAGR(d1,d2,v1,v2):
    period = (d2-d1).days/365.0
    return ((v2/float(v1))**(1/period))-1

def compile(df):
    row = [df['Unnamed: 0'].iloc[1][9:]]
    df.columns = list(df.iloc[4,:])
    df.drop([0,1,2,3,4],inplace = True)
    df['NAV Date'] = pd.to_datetime(df['NAV Date'], infer_datetime_format = True, format = '%d/%m/%y', dayfirst=True)
    for d in dates:
        temp = df[df['NAV Date'] == d]
        if(len(temp) == 0):
            row.append(np.nan)
            continue
        cagr = CAGR(temp.iloc[0,0], df.iloc[0,0],temp.iloc[0,1],df.iloc[0,1])
        row.append(cagr)
    doc.append(row)

In [125]:
#testing CAGR function
CAGR(dates[1],dates[0],100,150)

10.315162943714503

In [213]:
doc = [['Fund','21-04-2020','20-02-2020','23-12-2019','21-05-2019','21-05-2018','22-05-2017','21-05-2015','24-05-2010']]

In [214]:
len(doc)

1

In [215]:
for _,direc,files in os.walk(r'Z:\Downloads\MF NAVs\Long'):
    for f in files:
        print(f)
        compile(pd.read_excel('Z:\\Downloads\\MF NAVs\\Long\\' + f))
print(len(doc))

Mutual-Funds-India-Historical-NAV-Report (1).xlsx
Mutual-Funds-India-Historical-NAV-Report (10).xlsx
Mutual-Funds-India-Historical-NAV-Report (2).xlsx
Mutual-Funds-India-Historical-NAV-Report (3).xlsx
Mutual-Funds-India-Historical-NAV-Report (4).xlsx
Mutual-Funds-India-Historical-NAV-Report (5).xlsx
Mutual-Funds-India-Historical-NAV-Report (6).xlsx
Mutual-Funds-India-Historical-NAV-Report (7).xlsx
Mutual-Funds-India-Historical-NAV-Report (8).xlsx
Mutual-Funds-India-Historical-NAV-Report (9).xlsx
11

In [216]:
for _,direc,files in os.walk(r'Z:\Downloads\MF NAVs\Medium'):
    for f in files:
        print(f)
        compile(pd.read_excel('Z:\\Downloads\\MF NAVs\\Medium\\' + f))
        
        
print(len(doc))

Mutual-Funds-India-Historical-NAV-Report (1).xlsx
Mutual-Funds-India-Historical-NAV-Report (10).xlsx
Mutual-Funds-India-Historical-NAV-Report (11).xlsx
Mutual-Funds-India-Historical-NAV-Report (3).xlsx
Mutual-Funds-India-Historical-NAV-Report (4).xlsx
Mutual-Funds-India-Historical-NAV-Report (5).xlsx
Mutual-Funds-India-Historical-NAV-Report (6).xlsx
Mutual-Funds-India-Historical-NAV-Report (7).xlsx
Mutual-Funds-India-Historical-NAV-Report (8).xlsx
Mutual-Funds-India-Historical-NAV-Report (9).xlsx
21

In [217]:
for _,direc,files in os.walk(r'Z:\Downloads\MF NAVs\Short'):
    for f in files:
        print(f)
        compile(pd.read_excel('Z:\\Downloads\\MF NAVs\\Short\\' + f))
print(len(doc))

Mutual-Funds-India-Historical-NAV-Report (1).xlsx
Mutual-Funds-India-Historical-NAV-Report (2).xlsx
Mutual-Funds-India-Historical-NAV-Report (3).xlsx
Mutual-Funds-India-Historical-NAV-Report (4).xlsx
Mutual-Funds-India-Historical-NAV-Report (5).xlsx
Mutual-Funds-India-Historical-NAV-Report (6).xlsx
Mutual-Funds-India-Historical-NAV-Report (7).xlsx
Mutual-Funds-India-Historical-NAV-Report (8).xlsx
Mutual-Funds-India-Historical-NAV-Report (9).xlsx
Mutual-Funds-India-Historical-NAV-Report.xlsx
31

In [218]:
for _,direc,files in os.walk(r'Z:\Downloads\MF NAVs\Ultra Short'):
    for f in files:
        print(f)
        compile(pd.read_excel('Z:\\Downloads\\MF NAVs\\Ultra Short\\' + f))
print(len(doc))

Mutual-Funds-India-Historical-NAV-Report (1).xlsx
Mutual-Funds-India-Historical-NAV-Report (2).xlsx
Mutual-Funds-India-Historical-NAV-Report (3).xlsx
Mutual-Funds-India-Historical-NAV-Report (4).xlsx
Mutual-Funds-India-Historical-NAV-Report (5).xlsx
Mutual-Funds-India-Historical-NAV-Report (6).xlsx
Mutual-Funds-India-Historical-NAV-Report (7).xlsx
Mutual-Funds-India-Historical-NAV-Report (8).xlsx
Mutual-Funds-India-Historical-NAV-Report (9).xlsx
Mutual-Funds-India-Historical-NAV-Report.xlsx
41

In [225]:
final = pd.DataFrame(doc[1:], columns = doc[0])

In [226]:
final.head()

,Fund,21-04-2020,20-02-2020,23-12-2019,21-05-2019,21-05-2018,22-05-2017,21-05-2015,24-05-2010
0,Aditya Birla Sun Life Income Fund - Growth - D...,0.221358,0.122957,0.157150,0.134349,0.115118,0.082714,0.087387,NaN
1,Bharat Bond FOF - April 2030 - Direct Plan - G...,0.188417,0.123751,NaN,NaN,NaN,NaN,NaN,NaN
2,ICICI Prudential Long Term Bond Fund - Direct ...,0.259098,0.151001,0.180624,0.165579,0.137998,0.100780,0.104081,NaN
3,Kotak Corporate Bond Fund- Direct Plan- Growth...,0.117502,0.078697,0.088829,0.096323,0.093765,0.084840,0.086142,NaN
4,IDFC Bond Fund - Income Plan - Direct Plan-Growth,0.284642,0.185745,0.183426,0.154405,0.126871,0.088389,0.093852,NaN

In [227]:
final.to_csv(r'Z:\Downloads\Compiled.csv')